<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Primera página web con JavaScript" >
    <meta name="robots" content="NOFOLLOW" >
    <meta name="Author" content="Guillermo" >
    <meta name="keywords" content="Trabajo Final" >
    <meta name="revisit-after" content="2 days" >
    <meta name="category" content="Trabajo Final" >

    <title>¡Ven a Panamá!</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../leaflet/leaflet.css">
    <link rel="stylesheet" href="../leaflet/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" type="text/css" href="../css/Estilos.css">

</head>

<body>
    <header>
        <p class="encabezado">¡VEN A PANAMÁ!</p>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a class="active" href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="div_contacto">
        <div id="mapa"></div>
        <div id="contenido_contacto">
            <h1>Encuéntranos</h1>
            <p>Estamos ubicados en la Avenida Central al lado de la Caja de Seguro Social, planta baja,</p>
            <p>ciudad de Panamá</p>
            <p>Nuestro correo electrónico es info@venapanama.com.pa</p>
            <p>Nuestro teléfono es 391-5412</p>
        </div>
    </div>

    <footer class="div_footer">
        <div>
            <h3>Síguenos en:</h3>
            <a href="#"><img src="../asset/logo/facebook.jpg" alt="Logo de Facebook" class="logo_redes"></a>
            <a href="#"><img src="../asset/logo/Instagram-app-logo.jpg" alt="Logo de Instagram" class="logo_redes"></a>
            <a href="#"><img src="../asset/logo/logo_youtube.jpg" alt="Logo de Youtube" class="logo_redes"></a>
        </div>
        <h4>:: ¡VEN A PANAMÁ! :: Estamos ubicados en avenida Central al lado de la Caja de Seguro Social, planta baja,
            ciudad de Panamá, República de Panamá</h4>
        <div class="ultimo_div">
            <h3>Aviso Legal</h3>
            <p>En cumplimiento del deber de información estipulado en las leyes internacionales,
                Ven a Panamá S.A., en calidad de titular del web site venapanama.com,
                procede a comunicarles los datos identificativos exigidos por la referida norma:</p>
            <ul class="pie">
                <li>Nuestra denominación social es: Ven a Panamá S.A.</li>
                <li>Representante legal: Guillermo Armuelles</li>
                <li>ID: 8-426-000</li>
                <li>Nuestro domicilio social se encuentra en
                    avenida Central al lado de la Caja de Seguro Social, planta baja, ciudad de Panamá</li>
                <li>Nuestra actividad social es venta de viajes turísticos</li>
            </ul>
        </div>
    </footer>

    <script src="../leaflet/leaflet.js"></script>
    <script src="../leaflet/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="../script/trabajoFinal.js"></script>

</body>

</html>